.touchContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 20px;
}

.header h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.big{
  margin: 0;
  font-size: 4vw;
  font-weight: bold;
}
.small{
  margin: 0;
  font-size: 2.5vw;
  font-weight: bold;
}

.touchGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 10px;
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.touchModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.touchModule:active, .activeModule {
  background-color: var(--touch-highlight);
  transform: scale(0.95);
}

.touchIcon {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  margin-bottom: 5px;
}

.moduleName {
  color: var(--accent-color);
  text-align: center;
  font-size: 3vw;
}

@media (max-height: 480px) {
  .touchContainer {
    height: 100vh;
    padding: 15px;
  }
}