.touchContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  min-height: 100vh;
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.pageTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.pageTitle h1{
  color: var(--text-color);
  font-size: 4.5vw;
  padding: 3%;
  margin: 0;
  white-space: nowrap;
  width: 90%;
  height: 10%;
}
.header h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  
}
.big{
  margin: 0;
  font-size: 4vw;
  font-weight: bold;
}
.small{
  margin: 0;
  font-size: 2.5vw;
  font-weight: bold;
}

.backButton{
  width: 10%;
  height: 10%;
  background-color: var(--primary-color);
  font-size: 4.5vw;
  color: var(--text-color);
  padding: 3%;
}

.backButton:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.contentWrapper {
  display: flex;
  flex-grow: 0;
  overflow: hidden;
}

.testList {
  width: 60%;
  min-height: 30%;
  padding: 2%;
  overflow-y: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.testList h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 4vw;
  margin: 3% 0;
}

.testItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  padding: 3%;
  margin: 2% 5%;
  border-radius: 8px;
  font-size: 3vw;
}

.testDuration {
  color: var(--text-color);
  font-weight: bold;
}
.space{
  width:5%;
}

.qrSection {
  width: 30%;
  height: 40%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.qrSection p{
  margin-top: 1px;
  font-size: 3vw;
}

.qrCode {
  width: 25vw;
  height: auto;
  object-fit: contain;
  
}

.footer {
  color: var(--text-color);
  text-align: center;
  font-size: 2vw;
}